*{
    padding: 0;
    margin: 0;
    border-width: 0;
}

body{
    background-color:#ade8f4 ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-style:italic;
}




#Project1{
    
    border: 7px ;
    border-radius: 80px;
    border-style: dotted;
    padding: 30px 60px;
    margin: 30px 60px 45px 85px;
}
#Project1>p{
    text-align: right;
    font-size: 50px;
}
#InfoCheck{
    border-radius: 180px;
    filter: contrast(1);
}

#Project2{
    
    border: 7px ;
    border-radius: 80px;
    border-style: dotted;
    padding: 30px 60px;
    margin: 30px 60px 45px 85px;
}
#Project2>p{
    text-align: right;
    font-size: 50px;
}

#Learn2Code{
    border-radius: 180px;
    filter: contrast(1);  
}


#Header{
    display: flex;
}

#Portfolio{
    display: flex;
}
